# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# .idea folder
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
# *.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
venv/
/ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# customize
# log/
MUJOCO_LOG.TXT
# *.pth
.vscode/
.DS_Store
*.zip
*.pstats
*.swp
*.pkl
*.hdf5
wandb/
videos/

# might be needed for IDE plugins that can't read ruff config
.flake8

docs/notebooks/_build/
docs/conf.py

# temporary scripts (for ad-hoc testing), temp folder
/temp
/temp*.py
examples/atari/runs/FQF-Rainbow-pacman719308.err
examples/atari/runs/FQF-pacman719307.err
examples/atari/runs/FQF-pacman719307.err
examples/atari/log/FreewayNoFrameskip-v4/c51/3128/240621-141043/events.out.tfevents.1718971843.stud-000.2471214.0
examples/atari/log/FreewayNoFrameskip-v4/RainbowFQF/3128/240621-103557/events.out.tfevents.1718958957.stud-000.2018213.0
examples/atari/log/FreewayNoFrameskip-v4/fqf/3128/240620-195326/events.out.tfevents.1718906006.stud-000.3717641.0
examples/atari/log/MsPacmanNoFrameskip-v4/c51/0/240620-174835/events.out.tfevents.1718898515.stud-000.3368015.0
examples/atari/log/MsPacmanNoFrameskip-v4/fqf/3128/240619-092731/events.out.tfevents.1718782051.stud-000.1216138.0
examples/atari/log/MsPacmanNoFrameskip-v4/RainbowFQF/3128/240620-005157/events.out.tfevents.1718837517.stud-000.436784.0
examples/atari/log/PongNoFrameskip-v4/fqf/3128/240619-014024/events.out.tfevents.1718754024.stud-000.3088354.0
examples/atari/log/PongNoFrameskip-v4/RainbowFQF/3128/240618-235033/events.out.tfevents.1718747433.stud-000.2460191.0
examples/atari/log/TennisNoFrameskip-v4/c51/3128/240623-155148/events.out.tfevents.1719150708.stud-000.4023040.0
examples/atari/log/TennisNoFrameskip-v4/fqf/3128/240622-032901/events.out.tfevents.1719019741.stud-000.3856712.0
examples/atari/log/TennisNoFrameskip-v4/fqf/3128/240622-122535/events.out.tfevents.1719051935.stud-000.2776436.0
examples/atari/log/TennisNoFrameskip-v4/RainbowFQF/3128/240623-135749/events.out.tfevents.1719143869.stud-000.2028648.0
